.jobsContainer {
  margin: 20px;
  border: 1px solid cornflowerblue;
  border-radius: 8px;
  height: 300px;
  width: 50vw;
  overflow: hidden;


  .title {
    padding: 10px 10px;
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    //color: white;
    background-color: white;
    border-bottom: 1px solid cornflowerblue;
  }

  .scrollContainer {
    overflow-y: scroll;
  }

  .listItemContainer {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
  }

  .listItemContainer > span:nth-child(1) {
    color: cornflowerblue;
  }
}